<!--<h1>Messages#index</h1>-->
<!--<p>Find me in app/views/messages/index.html.erb</p>-->
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                メッセージ一覧
            </div>
            
            <div class="panel-body">
                <table class="table table-striped table-borderd">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th class="col-md-2">名前</th>
                            <th class="col-md-1">年齢</th>
                            <th class="col-md-8">メッセージ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @messages.each do |message| %>
                        <tr>
                            <td class="col-md-1 btn btn-md btn-default"><%= link_to "edit", edit_message_path(message)%></td>
                            <!--<span class="label label-md label-info col-md-2"><%= message.name %></span>-->
                            <td class="col-md-2"><%= message.name %></td>
                            <td class="col-md-1"><%= message.age %>歳</td>
                            <td class="col-md-7"><%= message.body %></td>
                            <td class="col-md-1 btn btn-md btn-warning"><%= link_to "destory" , message ,method: :delete, data: {confirm:'削除してもよろしいですか？'} %></td>
                            <!--<br><br>-->
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
    <div class="row">
        <!--部分テンプレートを読み込んでいる-->
        <%= render 'form' %>
    </div>
</div>